*{
    margin:0; /* remove the default inside spacing */
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'poppins',sans-serif;
    background:#f5f7fb;
    color:#333;
}

a{
    text-decoration:none; /* remove underline from link */
    color :inherit ; /* user parent color */
}

img{
    max-width:100%;
    display:block;
}

.navbar{
    /*place logo menu and icons in one row */
    display:flex;

    justify-content:space-between;

    align-items:center; 
    padding:18px 70px;
    background:white;
    position : sticky; /* keeps he navbar while scrolling*/
    top:0;
    z-index:1000;
}

.logo{
    display:flex;;
    align-items:center;
    gap:12px;

}

.logo img{
    width:42px;
    height:42px;

}
.logo h2 { /* guide mate font */
    color:#003d73;
    font-size:24px;
    font-weight:700;
}

/* navigation menu  like home chat guide  destination et c*/
nav ul{
    display:flex;
    list-style:none;
    gap:35px;

}

nav ul li a {
    color:#555
}

nav ul li a:hover{
    color:#0057b8;
}

.active menu{
    color:#0057b8;
    font-weight:600;
}

/*right icnons */

.nav-icons{
    display:flex;
    align-items:center;
    gap:25px;
}

.nav-icons span{
    font-size:22px;
    cursor:pointer;

}

.nav-icons img{/* profile picture */
     width:42px;
     height:42px;
     border-radius:50%; /* to make profile circle */
     object-fit:cover; /* to remove strethcs */
     cursor:pointer;

}

/* hero section */
.hero {
    width:90%;
    height:500px;
    margin: 40px auto ; 
    border-radius:20px;
    overflow:hidden;
    background-image:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0.35)),
    url("img/hero.jpg"); /* the welcome back color section */

    background-size:cover;
    background-position:center;
}  

/*  hero content */
.overlay{
    height:100%;
    display:flex; /* moves the search bar in middle */
    flex-direction:column;
    justify-content:center;
    padding-left:70px;
}

.overlay h1{
    color:white;
    font-size:55px;
    line-height:1.2;
    width:650px;
}
.overlay p {
    color:#eee;
    margin-top:20px;
    font-size:18px;
    width:500px;
    line-height:1.7;

}

.search-box{
    display:flex;
    margin-top:40px;
    width:650px;
   
}

.search-box input{
    flex:1;
    padding:18px 20px;
    border:none;
    border-radius:10px 0 0 10px;
    font-size:16px;
    outline:none;
}

.search-box  button{
    width:160px;
    border:none;
    background:#0057b8;
    color:white;
    font-size:16px;
    cursor:pointer;
    border-radius: 0 10px 10px 0;
    transition:3s;

}
.search-box button:hover{
    background:#003d73;
}