*{
    margin:0; /* remove the default inside spacing */
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'poppins',sans-serif;
    background:#f5f7fb;
    color:#333;
}

a{
    text-decoration:none; /* remove underline from link */
    color :inherit ; /* user parent color */
}

img{
    max-width:100%;
    display:block;
}

.navbar{
    /*place logo menu and icons in one row */
    display:flex;

    justify-content:space-between;

    align-items:center; 
    padding:18px 70px;
    background:white;
    position : sticky; /* keeps he navbar while scrolling*/
    top:0;
    z-index:1000;
}

.logo{
    display:flex;;
    align-items:center;
    gap:12px;

}

.logo img{
    width:42px;
    height:42px;

}
.logo h2 { /* guide mate font */
    color:#003d73;
    font-size:24px;
    font-weight:700;
}

/* navigation menu  like home chat guide  destination et c*/
nav ul{
    display:flex;
    list-style:none;
    gap:35px;

}

nav ul li a {
    color:#555
}

nav ul li a:hover{
    color:#0057b8;
}

.active menu{
    color:#0057b8;
    font-weight:600;
}

/*right icnons */

.nav-icons{
    display:flex;
    align-items:center;
    gap:25px;
}

.nav-icons span{
    font-size:22px;
    cursor:pointer;

}

.nav-icons img{/* profile picture */
     width:42px;
     height:42px;
     border-radius:50%; /* to make profile circle */
     object-fit:cover; /* to remove strethcs */
     cursor:pointer;

}

/* hero section */
.hero {
    width:90%;
    height:420px;
    margin: 40px auto ; 
    border-radius:20px;
    overflow:hidden;
    background-image:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0.35)),
    url("img/hero.jpg"); /* the welcome back color section */

    background-size:cover;
    background-position:center;
}  

/*  hero content */
.overlay{
    height:100%;
    display:flex; /* moves the search bar in middle */
    flex-direction:column;
    justify-content:center;
    padding-left:70px;
}

.overlay h1{
    color:white;
    font-size:55px;
    line-height:1.2;
    width:650px;
}
.overlay p {
    color:#eee;
    margin-top:20px;
    font-size:18px;
    width:500px;
    line-height:1.7;

}

.search-box{
    display:flex;
    margin-top:40px;
    width:650px;
   
}

.search-box input{
    flex:1;
    padding:18px 20px;
    border:none;
    border-radius:10px 0 0 10px;
    font-size:16px;
    outline:none;
}

.search-box  button{
    width:160px;
    border:none;
    background:#0057b8;
    color:white;
    font-size:16px;
    cursor:pointer;
    border-radius: 0 10px 10px 0;
    transition:3s;

}
.search-box button:hover{
    background:#003d73;
}



/*  popular destination section */



.popular{
    width:90%;
    max-width:1440px;
    margin :70px auto;
}
.section-title {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;



}

/* main heading */
.section-title h2{
    font-size:30px;
    font-weight:700;
    color: #0B3B6E

}

/*descsription */
.section-title p {
    color:#777;
    margin-top : 5px;
    font-size:15px;
}

.section-title a{
    color:#0057b8;
    font-weight:600px;
    transition:3s;
}
.section-title a:hover{
    color: #003d73;

}


/* destination card */

.destination-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
    align-items:stretch;
}

.large{
    position:relative;
    overflow:hidden;
    border-radius:20px;
    height:450px;
    cursor:pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);

}

.small-cards{
    display:grid;
    grid-template-rows:repeat(3,1fr);
    gap:20px;
}

.card{ /* photos */
    position:relative;
    overflow:hidden;
    border-radius:10px;
    cursor:pointer;
    box-shadow:0 10px 25px rgba(0,0,0,.15)
}


/*height of the small cards */
.small-cards .card{
    height:136px;
}

/*images */

.large img,

.card img{
    width:100%;
    height:100%;
    object-fit:cover; /* removes stretch */
    transition:5s;
}
/*zoom effect*/

.card:hover img,
.large:hover img{
    transform:scale(1.08);
}

/* image overlay */ /* important*/
.large::before,
.card::before{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background:
        linear-gradient(
            transparent,
            rgba(0,0,0,.075)
        );
        z-index:1;}
   
        
        /*carad text*/

 .card-info{
    position:absolute;
    left:20px;
    bottom:20px;
    color:white;
    z-index:2;
 } 
 
 .card-info h3{
    font-size:10px;
    font-weight:600;
    margin-bottom:5px;
 }

 .card-info p{
    font-size:10px;
    color:#eeeeee;
 }

 .card,
 .large{
    transition:.35s;

 }

 .card:hover,
 .large:hover{
    transform:translateY(-8px);
 }

 .section-title a/* view all */
 {
    text-decoration:none;
    
 }

/* -----------------recoemedation guide ===========*/

.guides{
    width:90%;
    max-width:1400px;
    margin:80px auto;
}

/* guides container */
.guide-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);/*allign in row*/
    gap:30px;
    margin-top:35px;
}


/*individual card*/
.guide-card{
    background:#ffffff;
    border-radius:15px;
    text-align:center;
    padding:25px 20px;
    transition:0.3s ease;
}

.guide-card:hover{
    transform:translateY(-6px);
}


/*guide image */
.guide-card img{
    width:80px;
    height:80px;
    border-radius:50%; /* make the photos circle */
    object-fit:cover;
    border:3px solid #00C2FF;
    padding:3px;
    margin-bottom:18px;
}
/* guide name */
.guide-card h3{
    font-size:18px;
    color:#123B6d;
    margin-bottom:5px;


}

/* location part */
.location{
    display:block;
    font-size:13px;
    color:#6b7280;
    margin-bottom:10px;


}

/*rating */
.guide-rating{
    font-size:13px;
    color:#f4b400;
    font-weight:600px;
    margin-bottom:10px;
}
.guide-rating span{
    color:#777;
    font-weight:400;
}

/*description */

.guide-description{
    font-size:12px;
    color:#666;
    line-height:1.6;
    min-height:45px;
    margin-bottom:20px;
}



/*button */


.profile-btn{
    width:100%;
    padding:10px;
    border:2px solid #0B63CE;
    background:white;
    color:#0B63CE;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;
    font-weight:600;
    transition:0.3s;
}

.profile-btn:hover{
    background:#0B63CE;
    color:white;
}



/* responsive */

@media(max-width:992px){
    .guide-container{
        grid-template-columns:repeat(2,1fr);
    }
}